@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.app {
  height: 100%;
  width: 100%;
}
