.dashboardTable__row {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid #000; */
  padding: 9px 0;
  border-bottom: 1px solid lightgray;
}

.dashboardTable__row div {
  margin: 0 50px;
  /* border: 1px solid #000; */
}

.dashboardTable__row .passwordField {
  width: 200px;
  border: none;
  outline: none;
}

.dashboardTable__row .eyeBtn {
  cursor: pointer;
}

.dashboardTable__row .options i {
  font-size: 1.1rem;
  cursor: pointer;
}

.dashboardTable__row .options .edit {
  color: #22ac06;
  padding-right: 1rem;
}

.dashboardTable__row .options .delete {
  color: red;
}
